/*-- reset --*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-- start editing from here --*/
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*-- end reset --*/
body {
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #76b852, #8DC26F);
    background: -moz-linear-gradient(to top, #76b852, #8DC26F);
    background: -o-linear-gradient(to top, #76b852, #8DC26F);
    background: linear-gradient(to top, #76b852, #8DC26F);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}

/*-- main --*/
.main-w3layouts {
    padding: 3em 0 1em;
}

.main-info {
    width: 35%;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.18);
    background-size: cover;
}

.agileits-top {
    padding: 3em;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

input.email, input.text.w3lpass {
    margin: 2em 0;
}

.text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
}

::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}

input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #8DC26F;
}

.agileits-top p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}

.agileits-top p a {
    color: #fff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
}

.agileits-top p a:hover {
    color: #76b852;
}

/*-- //main --*/
/*-- checkbox --*/
.wthree-text label {
    font-size: 0.9em;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}

input.checkbox {
    background: #8DC26F;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}

input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
}

input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #fff;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
}

.anim input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
}

@keyframes rippling {
    50% {
        border-left-color: #fff;
    }

    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}

/*-- //checkbox --*/

.wrapper {
    position: relative;
    overflow: hidden;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 20s infinite;
    -moz-animation: square 250s infinite;
    -o-animation: square 20s infinite;
    -ms-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.bubbles li:nth-child(1) {
    left: 10%;
}

.bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    -moz-animation-duration: 17s;
    -o-animation-duration: 17s;
    animation-duration: 17s;
}

.bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
}

.bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    -moz-animation-duration: 22s;
    -o-animation-duration: 22s;
    -ms-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bubbles li:nth-child(5) {
    left: 70%;
}

.bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    -ms-animation-delay: 7s;
    animation-delay: 7s;
}

.bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
}

.bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        -moz-transform: translateY(-700px) rotate(600deg);
        -o-transform: translateY(-700px) rotate(600deg);
        -ms-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        -moz-transform: translateY(-700px) rotate(600deg);
        -o-transform: translateY(-700px) rotate(600deg);
        -ms-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

/*-- responsive-design --*/
@media(max-width:1440px) {
    input[type="text"], input[type="email"], input[type="password"] {
        width: 94%;
    }
}

@media(max-width:1366px) {
    h1 {
        font-size: 2.6em;
    }

    .agileits-top {
        padding: 2.5em;
    }

    .main-info {
        margin: 2em auto;
    }

    .main-info {
        width: 36%;
    }
}

@media(max-width:1280px) {
    .main-info {
        width: 40%;
    }
}

@media(max-width:1080px) {
    .main-info {
        width: 46%;
    }
}

@media(max-width:1024px) {
    .main-info {
        width: 49%;
    }
}

@media(max-width:991px) {
    h1 {
        font-size: 2.4em;
    }

    .main-w3layouts {
        padding: 2em 0 1em;
    }
}

@media(max-width:900px) {
    .main-info {
        width: 58%;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 93%;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 2.2em;
    }
}

@media(max-width:736px) {
    .main-info {
        width: 62%;
    }
}

@media(max-width:667px) {
    .main-info {
        width: 67%;
    }
}

@media(max-width:600px) {
    .agileits-top {
        padding: 2.2em;
    }

    input.email, input.text.w3lpass {
        margin: 1.5em 0;
    }

    input[type="submit"] {
        margin: 2em 0;
    }

    h1 {
        font-size: 2em;
        letter-spacing: 3px;
    }
}

@media(max-width:568px) {
    .main-info {
        width: 75%;
    }
}

@media(max-width:480px) {
    h1 {
        font-size: 1.8em;
        letter-spacing: 3px;
    }

    .agileits-top {
        padding: 1.8em;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 91%;
    }

    .agileits-top p {
        font-size: 0.9em;
    }
}

@media(max-width:414px) {
    h1 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }

    .main-info {
        width: 85%;
        margin: 1.5em auto;
    }

    .text:focus, .text:valid {
        background-position: 0 0px;
    }

    .wthree-text ul li, .wthree-text ul li:nth-child(2) {
        display: block;
        float: none;
    }

    .wthree-text ul li:nth-child(2) {
        margin-top: 1.5em;
    }

    input[type="submit"] {
        margin: 2em 0 1.5em;
        letter-spacing: 3px;
    }

    input[type="submit"] {
        margin: 2em 0 1.5em;
    }
}

@media(max-width:384px) {
    .main-info {
        width: 88%;
    }
}

@media(max-width:375px) {
    .agileits-top p {
        letter-spacing: 0px;
    }
}

@media(max-width:320px) {
    .main-w3layouts {
        padding: 1.5em 0 0;
    }

    .agileits-top {
        padding: 1.2em;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 89.5%;
        font-size: 0.85em;
    }

    h1 {
        font-size: 1.7em;
        letter-spacing: 0px;
    }

    .main-info {
        width: 92%;
        margin: 1em auto;
    }

    .text:focus, .text:valid {
        background-position: 0 0px;
    }

    input[type="submit"] {
        margin: 1.5em 0;
        padding: 0.8em;
        font-size: .85em;
    }

    .wthree-text label {
        font-size: 0.85em;
    }

    .main-w3layouts {
        padding: 1em 0 0;
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Body Styles
*********************************************
*/
* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media (max-width: 1024px) {
  body {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

figure {
  margin: 0;
  padding: 0;
}

p,
ol {
  width: 70%;
  margin: 2.5% auto;
  padding-left: 20px;
}
@media (max-width: 1024px) {
  p,
  ol {
    width: 90%;
  }
}
@media (max-width: 480px) {
  p,
  ol {
    width: 100%;
  }
}

ul li,
ol li {
  margin: 20px 0;
}

p, ul {
  padding-left: 0;
}

/* Typography
***********************************************
*/
header {
  margin-bottom: 5%;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px 8px;
  margin: 0;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  h2 {
    font-size: 15px;
  }
}

pre, code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 16px;
  line-height: 2;
  overflow: auto;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  pre, code {
    width: 100%;
    font-size: 14px;
  }
}

code {
  padding: 5px;
  vertical-align: 3px;
  white-space: nowrap;
}

a:hover, a:active, a:focus {
  color: #fff;
  border-bottom: solid 2px #fff;
}

/* Sections
**********************************************
*/
section {
  padding: 10% 5%;
  width: 100%;
}

/* First Section */
.first {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
.first p {
  width: 50%;
  margin: 10% auto;
  text-align: center;
}
@media (max-width: 768px) {
  .first p {
    width: 90%;
  }
}

.buttons {
  list-style-type: none;
  text-align: center;
}
.buttons li {
  display: inline-block;
  margin: 0 25px;
  padding: 0;
}
@media (max-width: 768px) {
  .buttons li {
    display: block;
    margin: 50px auto 0;
  }
}
.buttons li a {
  font-size: 30px;
  color: #fff;
  padding: 20px;
  background: #bc8542;
  border: 2px solid #bc8542;
  border-radius: 10px;
  text-decoration: none;
  transition: all, 0.3s, ease;
}
@media (max-width: 1024px) {
  .buttons li a {
    padding: 15px;
    font-size: 22px;
  }
}
.buttons li a:hover, .buttons li a:active, .buttons li a:focus {
  background: none;
  border: 2px solid #fff;
}

/* Second Section */
.second {
  background: #EEE9E9;
}
.second h1 {
  color: #555;
}

/* Third Section */
.third {
  background: #7c8b78;
}
.third pre, .third code {
  color: #1a1e19;
  text-shadow: 0 1px 0 #7c8b78;
  background: #6a7766;
}

/* Fourth Section */
.fourth {
  background: #bc8542;
}
.fourth pre, .fourth code {
  color: #251a0d;
  text-shadow: 0 1px 0 #bc8542;
  background: #a07138;
}

/* Fifth Section */
.fifth {
  background: #4892b5;
}
.fifth pre, .fifth code {
  color: #0e1c23;
  text-shadow: 0 1px 0 #4892b5;
  background: #3d7c9a;
}

/* Sixth Section */
.sixth {
  background: #bb4b79;
}
.sixth pre, .sixth code {
  color: #2a101b;
  text-shadow: 0 1px 0 #bb4b79;
  background: #a23d67;
}

/* Video Gallery
********************************************
*/
.video {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 23%;
  margin: 1%;
  float: left;
  transition: all, 0.3s, ease;
}
@media (max-width: 1024px) {
  .video {
    width: 31.333%;
  }
}
@media (max-width: 768px) {
  .video {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .video {
    display: block;
    width: 96%;
    margin: 2%;
    float: none;
  }
}
.video figure {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.video figure a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}
.video img {
  width: 100%;
  opacity: 1;
}
.video img:hover, .video img:active, .video img:focus {
  opacity: 0.75;
}

/* Images 
********************************************
*/
img {
  max-width: 100%;
  height: auto;
}

/* Clearfix 
********************************************
*/
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Footer 
********************************************
*/
footer {
  clear: both;
  background: #2b4f71;
  margin: 0;
  padding: 5%;
  text-align: center;
}

/* Smooth Scrolling Back to Top
********************************************
*/
.scroll-top:hover {
  color: #fff !important;
  background-color: #333;
  text-decoration: none;
  border-bottom: none;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 2;
  font-size: 1.4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border-radius: 5px;
  border-bottom: none;
  text-align: center;
  cursor: pointer;
}

/* Remove border from Francybox close
*****************************************
*/
.fancybox-close {
  border-bottom: none;
}
.fancybox-close:hover, .fancybox-close:active, .fancybox-close:focus {
  border-bottom: none;
}

/* fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden !important;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fb/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fb/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/fb/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fb/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/* Retina graphics */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fb/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("../images/fb/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

/*# sourceMappingURL=style.css.map */
.textarea-description {
    width: 100%;
    font-size: 20px;
    color: white !important;
    border: double;
    background: transparent !important;

}